/* #ec4b24 */

@font-face {
    font-family: "Iran-Sans";
    src: url(./BRoya/BRoya.woff) format("woff"), url(./BRoya/BRoya.eot) format("eot"), url(./BRoya/BRoya.ttf) format("truetype");
}

body {
    font-family: "Iran-Sans" !important;
    direction: rtl !important;
}


/* ################################################# */


/* GENERAL CLASSES */

.box {
    height: auto !important;
    text-transform: capitalize;
    overflow: hidden;
    margin: 4%;
    color: white;
}

.check-box {
    margin-bottom: 10px;
    color: white;
}

.checkbox-elements {
    font-size: 20px;
    padding: 10px;
}

.checkbox-elements .checkbox-text {
    margin-top: -6px;
    padding-left: 10px;
}

.icon-text {
    padding: 6px;
}

.text {
    margin-right: 10px;
    margin-top: -4px;
}

.row {
    padding: 6rem 0px;
}


/* END GENERAL CLASSES */


/* ################################################# */


/* HEADER */

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: aqua;
}

.progressBar {
    height: 10px;
    background-color: #ffc311;
    width: 0%;
}

.progressContainer {
    width: 100%;
    height: 10px;
    background-color: white;
}

.content {
    margin: auto;
    width: 80%;
}

header {
    background-color: white;
    font-size: 1.2rem;
}


/* ################################################# */


/* SECTION1 AND CAROUSEL */

.carousel-img {
    height: 100vh;
    width: 100%;
}

.section1 .first {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/most-Luxurious-Houses.jpg)no-repeat center center;
    background-size: cover;
}

.section1 .second {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/contact-unsplash.jpg)no-repeat center center;
    background-size: cover;
}

.section1 .third {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/contact2-unsplash.jpg)no-repeat center center;
    background-size: cover;
}

.section1 .fourth {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/hi-margaux-main.jpg)no-repeat center center;
    background-size: cover;
}

.section1 {
    position: relative;
}

.section1 .section1-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    text-align: center;
}


/* ################################################# */


/* SECTION 2 */

.section2 {
    background-color: white;
}

.section2 .sampleImg {
    width: 100%;
    height: 300px;
}

.section2 .logo {
    height: 150px;
}


/* ################################################# */

.between-sec {
    background: url(./images/between-sec.jpg) no-repeat center bottom;
    background-size: cover;
    width: 100%;
    height: 350px;
}


/* ################################################# */


/* START SECTION3 */

.section3 .info-box {
    text-align: center;
    color: black;
}

.section3 .card {
    border: none !important;
    font-size: 20px;
    background-color: transparent !important;
    /* box-shadow: 5px 10px 8px 10px lightgray; */
}


/* ######################################################### */


/* SECTION4 */

.section4.information .even-i {
    font-size: 100px;
    color: #2f2f2b;
}

.section4.information .odd-i {
    font-size: 100px;
    color: #4f8695;
}

.wrapper .section4:nth-child(odd) {
    background-color: #4f8695;
    height: auto;
    transition: 1.5s;
}

.wrapper .section4:nth-child(even) {
    background-color: #ffc311;
    height: auto;
}

.section4 .fa {
    font-size: 100px;
    color: white;
}


/* ################################################# */


/* START FOOTER */

.footer {
    background-color: white;
    width: 100%;
    height: auto;
}

.footer img {
    height: 180px;
    width: 180px;
}

.footer h4 {
    color: #ffc311;
}

.footer-text {
    color: white;
    line-height: 60px;
    text-align: center;
}

.copyright {
    width: 100%;
    background-color: #4f8695;
    height: 60px;
}


/* ___________________________________________________________________ */


/* CONTACT US PAGE */


/* ___________________________________________________________________ */

.contact-section1 {
    height: 100px;
    width: 100%;
    background-color: #ffc311;
}

.contact-section1 .information>h3 {
    text-align: center;
    line-height: 100px;
}

.contact-section1 .information>h3:hover {
    transform: scale(1.5);
    transition: 1.5s;
}


/* .contact-section1 h2 {
        text-align: right;
    } */


/* .contact-section1 .needs-validation>label {
        direction: rtl;
    } */

.form-contact .btn {
    background-color: #ffc311;
}


/* ___________________________________________________________________ */


/* BRANCHES */


/* ___________________________________________________________________ */

.accordion {
    width: 250px;
    border: 1px solid #eeeeee;
    box-shadow: 0 2px 4px #cccccc;
    /* margin: 50px; */
    border: 2px solid gray;
}

.accordion .titlee {
    background-color: #4f8695;
    margin: 0;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-bottom: 2px ridge darkgray;
}

.accordion .content {
    padding: 8px;
}

.accordion img {
    display: block;
    width: 100%;
}

.accordion label {
    display: block;
    margin-bottom: 5px;
    padding: 10px;
    cursor: pointer;
}


/* ___________________________________________________________________ */


/* ABOUT US */


/* ___________________________________________________________________ */

.mission {
    height: auto;
}

.mission-img {
    position: relative;
}

.mission-img img {
    height: 300px;
    width: 100%;
}

#mission-hover {
    position: absolute;
    z-index: 1;
    top: -0%;
    width: 100%;
    height: 300px;
}

#mission-text {
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    position: absolute;
}